C:/Users/minji/Desktop/NEW_VR/Assets/Resources/Asset/Agarkova_CG/Beard_man/Prefab/Beard_man.prefab filter=lfs diff=lfs merge=lfs -text
Assets/Resources/Asset/Agarkova_CG/Beard_man/Art/Mesh/Beard_man.fbx filter=lfs diff=lfs merge=lfs -text
